* {
    margin: 0px;
    padding: 0px;
    overscroll-behavior: none;



    a {
        text-decoration: none;
    }
}

body {
    min-height: 100vh;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* navbar */
.container {
    background: black;

    font-size: 20px;
    font-weight: 250;
}

.container ul {
    list-style: none;
    display: flex;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container ul li {
    padding: 10px 25px;
}

.container ul li:first-child {
    margin-right: auto;
}

.container ul li:last-child {
    margin-left: auto;
}

.container ul li a {
    color: coral;
}

.container ul li:hover {
    a {
        color: deepskyblue;
    }

    background-color: rgb(32, 32, 32);
}

/* navbar */

/* heading */
.heading-container {
    height: 50px;
    width: 50vw;

    background-color: rgba(255, 255, 255, 0.542);

    display: flex;
    margin: 1vw;

    align-items: center;
    justify-content: center;

    border-radius: 2px;
    border: 0.75vw solid rgba(102, 102, 102, 0.515);
}

.heading-container .heading {
    padding: 10px;
    color: black;
    font-weight: 1000;
}

/* heading */

/* home - recent */
.recent-container {
    width: 96vw;
    /* height: 650px; */
    height: fit-content;

    margin: 1vw;

    border: 1vw solid rgba(102, 102, 102, 0.515);
    background-color: rgba(255, 255, 255, 0.542);

    display: flex;
}

.recent-container:hover {
    box-shadow: 5px 5px rgba(87, 87, 87, 0.632);
}

.left-text {

    width: 50%;
    height: 100%;

    padding: 1vw;

    background-color: rgba(255, 153, 0, 0.408);

    font-weight: 700;
}

.left-text h4 {
    font-size: 30px;
}

.left-text pre {
    font-size: 20px;
}

.right-vid {
    padding: 1vw;
    background-color: rgba(0, 229, 255, 0.408);

    width: 50%;
}

/* home - recent */

.left-text .button-content {
    width: 150px;
    height: 35px;

    border-radius: 7px;
    border: 2.5px solid rgba(0, 0, 0, 0.405);

    background-color: rgba(255, 255, 255, 0.5);
}

.button-content:hover {
    box-shadow: 5px 5px rgba(87, 87, 87, 0.632);
    background-color: rgba(255, 255, 255, 0.674);
}










@media(max-width: 930px) {
    .recent-container {
        display: block;
    }
}