
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Cascadia Mono", sans-serif;
}

html, body {
    overflow-x: hidden;
}

body {
    background-color: #f6f6f6;
}

a {
    color: white;
    text-decoration: none;
}

.navbar {
    width: 100%;
    height: 40px;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: 700;
}

.navitem {
    width: 500px;
    height: 25px;
    background-color: black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin-right: 10px;
    border-radius: 2.5px;
}

.navitem:hover {
    background-color: #484848;
}

/* Body */

.container {
    width: 75%;
    background-color: #ffffff;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 25px #f3f3f3;
}

.container .name {
    padding: 20px;
    text-decoration: underline;
}

.isocore-container {
    translate: 0px -300px;
}

/* Game Cards */
/* Long */

.game-card-long-link .game-card-long-container img {
    width: 100%;
}

.game-card-long-link .game-card-long-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
    transition: 50ms;
    margin-top: 10px;
    margin-bottom: 10px;
}

.game-card-long-link .game-card-long-container:hover {
    translate: 0px -5px;
    box-shadow: 0px 5px 15px #cacaca;
}

.game-card-long-link .game-card-long-container .long_game_card_isocore {
    translate: 0px 0px;
}

.game-card-long-link .game-card-long-container .long_game_card_blossom {
    translate: 0px 0px;
}

.game-card-long-link .game-card-long-container .long_game_card_avia {
    translate: 0px 0px;
}

.game-card-long-link .game-card-long-container .long_game_card_tm2020 {
    translate: 0px 0px;
}

/* Links Container */

.links-container {
    width: 100%;
    height: fit-content;
    background-color: transparent;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* ItemCard */

.item-card .image-holder {
    width: 310px;
    height: 410px;
    background-color: #ffffff;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    transition: 100ms;
    margin-left: 15px;
}

.item-card .image-holder img {
    background-color: transparent;
    width: 70%;
    padding: 10px;
}

.item-card .image-holder h3 {
    font-size: 40px;
    padding: 10px;
    color: black;
}

.item-card .image-holder:hover {
    background-color: #ffffff;
    box-shadow: 0px 5px 15px #cacaca;
}


/* FullArtGameCard */
.full-art-game-card .image-holder {
    width: 250px;
    height: 300px;
    background-color: #484848;
    overflow: hidden;
    border-radius: 15px;
    transition: 250ms;
    margin-right: 15px;
}

.full-art-game-card .image-holder img {
    height: 100%;
}

.full-art-game-card .image-holder:hover {
    width: 300px;
    height: 300px;
}

.full-art-game-card .image-holder h2 {
    translate: 0px -80px;
    text-align: center;
    background-color: #48484861;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    align-self: center;
    justify-self: center;
}

.background-image {
    width: 100%;
    overflow: hidden;
}

/* Update Container */

.updates-container {
    width: 100%;
    height: fit-content;
    background-color: transparent;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.updates-container .update-card .text-holder {
    text-align: left;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: #ffffff;
    color: black;
    align-content: center;
    padding-left: 10px;
    border: 1px solid #e6e6e6;
    transition: 100ms;
}

.updates-container .update-card .text-holder:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 15px #cacaca;
}

/* Blog CSS */

.blog-container {
    width: 75%;
    height: fit-content;
    padding: 35px;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.blog-container h1,
.blog-container h2,
.blog-container h3,
.blog-container h4,
.blog-container h5,
.blog-container h6 {
    text-align: center;
}

.tag-container {
    display: flex;
}

.tag-container .tag {
    background-color: #ffffff;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    margin: 5px;

}

.tag-container .tag:hover {
    background-color: #f6f6f6;
}

.comparison {
    display: flex;
}

.comparison .left-old,
.comparison .right-new {
    background-color: #ffffff;
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comparison .left-old img,
.comparison .right-new img {
    border-radius: 15px;
}

.comparison .left-old {
    margin-right: 2%;
}

.bug {
    background-color: #ffe6e6;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
}

.bug h2,
.bug h3 {
    text-align: left;
}

.image-container {
    width: 100%;
    height: 450px;
    overflow: hidden;
    border-radius: 15px;
}

.blog-container p {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.blog-container p a {
    color: black;
}