.card-t2 {

    /* 
        Border Size: 0.5vw :: x2    --> 1vw
        margin width: 1vw :: x2     --> 2vw
        container width: 46vw :: x1 --> 46vw
        - - - - - - - - - - - total vw: 49vw
    */

    width: 46vw;
    height: 30vh;

    margin: 2vh 1vw;

    background-color: white;

    color: black;
    display: inline-block;

    border: 0.5vw solid black;
    border-radius: 0.5em;

    a {
        text-decoration: none;
        color: black;
    }

    h1 {
        padding: 2vh 1vw;
        text-align: center;
    }

    p {
        padding: 2vh 1vw;
        font-size: 1.3em;
        font-weight: 500;
    }
}

.card-t2:hover {
    /* background-color: black; */
    border-color: deepskyblue;

    a {
        color: deepskyblue;
        text-decoration: underline;
    }

    p {
        color: deepskyblue;
    }
}

@media (max-width: 700px) {
    .card-t2 {
        display: block;
        width: 98vw;
        margin: 2vh 1vw;
        height: fit-content;
    }
}