.card-t1 {

    /* width: 96vw; */
    height: fit-content;

    margin: 2vh 1vw;

    border: 0.5vw solid black;
    border-radius: 1vh;

    font-family: sans-serif;

    a {
        text-decoration: none;
        color: black;
    }

    h1 {
        padding: 1vh 1vw;
    }

    p {
        font-size: 1.3em;
        font-weight: 600;
        padding: 1vh 1vw;
        color: black;
    }

    #more-info-button {
        margin: 2vh 1vw;

        width: 10vw;
        height: 5vh;

        font-size: 1em;

        /* background-color: white; */

        border: 0.2em solid black;
        border-radius: 5vw;

        color: black;
        background-color: white;
    }

}

/* .card-t1 #more-info-button:hover {
    border-color: deepskyblue;
    background-color: black;
    color: deepskyblue;
} */
.card-t1:hover {

    border-color: deepskyblue;
    /* background-color: black; */

    a {
        color: deepskyblue;
        text-decoration: underline;
    }

    p {
        color: deepskyblue;
    }

    #more-info-button {
        border-color: deepskyblue;
        /* background-color: black; */
        color: deepskyblue;
        text-decoration: underline;
    }

    #more-info-button:hover {
        border-color: coral;
        color: coral;
    }
}