.test {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: black;
    text-align: center;
    align-content: center;
    font-size: 2em;
}

.test a {
    text-decoration: none;
    color: deepskyblue;
}

.test a h2 {
    /* text-align: center; */
    justify-content: center;
    align-items: center;
}

.test:hover {
    a {
        color: coral;
    }

    background-color: white;
}