:root {
  text-decoration-color: black;
}

.item_card_icon {
  background-color: transparent;
  justify-self: center;
  align-self: center;
}

.item_card_name {
  text-align: center;
  color: black;
  margin-top: 10px;
  background-color: transparent;

}

.item-card {
  background-color: whitesmoke;
  width: 200px;
  height: 210px;
  /* align-content: center; */
  padding-top: 10px;
  justify-items: center;
  transition: 0.25s;
  border-radius: 10px;
  margin: 5px;
  overflow: hidden;
}

.item-card:hover {
  background-color: #e7e7e7;
}

.item-card-container {
  width: 96%;
  height: fit-content;
  background-color: transparent;
  margin: 15px;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-self: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.custom-header {
  width: 96%;
  background-color: transparent;
  text-align: center;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
  justify-self: center;
  font-size: 30px;
}

.custom-header-2 {
  width: 96%;
  background-color: transparent;
  text-align: center;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
  justify-self: center;
  font-size: 20px;
}