.item-card-2 {
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 300px;
  background-color: #ff6161;
  border-radius: 20px;
  transition: 0.2s;
  justify-items: center;
  margin: 5px;
}

.item-card-2:hover {
  box-shadow: 0px 0px 10px black;
  width: 300px;
  height: 300px;
  .item-name-2 {
    top: -150px;
    font-size: 25px;
    width: 100%;
    background-color: #b2b2b2c1;
  }
}
.item-img-2 {
  position: relative;
  width: 300px;
  z-index: 1;
}
.item-name-2 {
  position: relative;
  width: 250px;
  height: fit-content;
  z-index: 10;
  color: white;
  top: -85px;
  left: 0px;
  text-align: center;
  font-size: 25px;
  background-color: #a3a3a38d;
  font-weight: 600;
  justify-self: center;
  align-content: center;
  padding: 7.5px 0px;
  margin-bottom: 10px;
  border-radius: 0px;
  transition: 0.2s;
}
.item-name-span {
  background-color: transparent;
  display: inline-block;
}