
.game-card-container {
  height: fit-content;
  background-color: transparent;
  margin: 10px 0px;
  padding: 10px;
  justify-items: center;
  display: flex;
  flex-direction: column;

}

.game-card {
  margin: 50px 0px;
  width: 90%;
  height: 350px;
  background-color: antiquewhite;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.game-card:hover {
  top: -5px;
}

.image-card {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.game-card-img {
  position: absolute;
  top: -175px;
  left: 0px;
  width: 100%;
}

.game-card-name {
  color: black;
  font-size: 40px;
  margin: 3px 0px;
  text-align: center;
  border-top: 2px solid #a1a1a1;
  border-bottom: 2px solid #a1a1a1;
  background-color: whitesmoke;
}