/* Title Card */
.title-card {
    width: 100%;
    height: fit-content;
    background-color: var(--color-5);
    text-decoration: none;
    color: var(--color-2);
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-bottom: 4px solid var(--color-3);
    /* border-top: 2px solid var(--color-3); */
}