.menu-item {
  background-color: #000000;
  color: #f5f5f5;
  width: 120px;
  padding: 10px 0px;
  height: 20px;
  text-align: center;
  font-weight: 700;
}

.menu-item:hover {
  background-color: #252525;
}