.navibar {
    background-color: black;
    text-align: center;
    word-spacing: 30px;
    height: 100px;
    align-content: center;
}

.navibar .navitext {
    text-decoration: none;
    color: coral;
    font-size: 20px;
    background-color: black;
}

.navibar .navitext:hover {
    color: deepskyblue;
}

.navibar .aboutus {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border-color: coral;
    background-color: black;
    color: coral;
    font-size: 18px;
    border-width: 5px;

}

.navibar .aboutus:hover {
    border-color: deepskyblue;
    background-color: black;
    color: deepskyblue;
}