* {
  margin: 0px;
  padding: 0px;
  font-family: "Cascadia Mono",sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  background-color: #f5f5f5;
}

body {
  overscroll-behavior-y: none;
  overflow-x: hidden;
}

/* Navbar Container */
.nav-container {
  width: 100%;
  height: 40px;
  background-color: #000000;
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  justify-content: left;
}

/* .nav-container > menu-item:first-child {
  margin-right: auto;
} */
